@model Taxi.WebApp.Areas.Admin.Models.AppAdminViewModel
@using Taxi.Entities.Helpers;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taxi</title>
	@Styles.Render("~/bundles/css/libs/")
	@Styles.Render("~/bundles/css/admin/commons/")

</head>
<body>
	<div class="container">
		<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Cлужба такси</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Администрирование</a></li>
						<li><a href="/online/">Мониторинг</a></li>
						<li><a href="/statistics/">Статистика</a></li>
					</ul>
					<p class="navbar-text navbar-right user_info">
						<a href="/auth/logout/" class="navbar-link jDefaultLink">Выйти</a>
					</p>
					<p class="navbar-text navbar-right">
						<span class="manager_name">Здравствуйте, @User.Identity.Name</span>
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid" style="margin-top: 64px;">
			<div class="row">
				<div class="col-xs-1" style="position: fixed;">
					<div class="menu_wrp">
						<ul class="menu jMenu">
							<li class="jMenuTab active"><a href="/admin/orders/"><i class="glyphicon glyphicon-fire"></i></a></li>
							<li class="jMenuTab"><a href="/admin/requests/"><i class="glyphicon glyphicon-thumbs-up"></i></a></li>
							<li class="jMenuTab"><a href="/admin/cars/"><i class="glyphicon glyphicon-cd"></i></a></li>
							<li class="jMenuTab"><a href="/admin/cabs/"><i class="glyphicon glyphicon-pawn"></i></a></li>
							<li class="jMenuTab"><a href="/admin/drivers/"><i class="glyphicon glyphicon-sunglasses"></i></a></li>
							<li class="jMenuTab"><a href="/admin/carmodels/"><i class="glyphicon glyphicon-barcode"></i></a></li>
							<li class="jMenuTab"><a href="/admin/carbrands/"><i class="glyphicon glyphicon glyphicon-apple"></i></a></li>
							<li class="jMenuTab"><a href="/admin/operators/"><i class="glyphicon glyphicon-phone-alt"></i></a></li>
							<li class="jMenuTab"><a href="/admin/addresses/"><i class="glyphicon glyphicon-pushpin"></i></a></li>
							<li class="jMenuTab"><a href="/admin/clients/"><i class="glyphicon glyphicon-user"></i></a></li>


							@*<li><a href="/sales/"><i class="glyphicon glyphicon-gift"></i></a></li>
							<li><a href="/clients/"><i class="glyphicon glyphicon-user"></i></a></li>*@

						</ul>
					</div>
				</div>
				<div class="col-xs-10" style="margin-left: 11%; overflow-x: hidden">
					<div class="page_content jMainRegion">
						@RenderBody()
						<hr />
						<footer>
							<p>&copy; @DateTime.Now.Year - Taxi</p>
						</footer>
					</div>
				</div>
			</div>
		</div>

	</div> 
	<div class="jPreloader" style="margin-left: 45%; margin-top: 250px; z-index: 9999"></div>
	<div class="jModalRegion"></div>

	<div class="jTemplates">
		@Html.Partial("Templates/Cars/_List")
		@Html.Partial("Templates/Cars/_Page")
		@Html.Partial("Templates/Drivers/_List")
		@Html.Partial("Templates/Drivers/_Page")
	</div>

	<div class="jScripts">
		@Scripts.Render("~/bundles/libs")
		@Scripts.Render("~/bundles/js/areas/admin")
		@Scripts.Render("~/bundles/apps")
		@Scripts.Render("~/bundles/adminApp")

		<script>
			App.Collections.cars.reset(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Cars, JsonSettings.Default()))));
			App.Collections.carModels.reset(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Models, JsonSettings.Default()))));
			App.Collections.carBrands.reset(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Brands, JsonSettings.Default()))));

			App.start();
		</script>
		@RenderSection("scripts", required: false)
	</div>
</body>
</html>
