
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taxi</title>
	@Styles.Render("~/bundles/css/libs/")
	@Styles.Render("~/bundles/css/operator/commons/")
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Такси сервис</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Доска</a></li>
						<li><a href="/requests/">Заявки</a></li>
						<li><a href="/orders/">Заказы</a></li>
						<li><a href="/settings/">Настройки</a></li>
					</ul>
					<p class="navbar-text navbar-right user_info">
						<a href="/auth/logout/" class="navbar-link jDefaultLink">Выйти</a>
					</p>
					<p class="navbar-text navbar-right">
						<span class="manager_name">Здравствуйте, @User.Identity.Name</span>
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			@RenderBody()

		</div>
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Taxi</p>
		</footer>
	</div> 

	<div class="jModalRegion"></div>

	<div class="jTemplates">
		@Html.Partial("Templates/Cars/_List")
		@Html.Partial("Templates/Cars/_Page")
	</div>

	<div class="jScripts">
		@Scripts.Render("~/bundles/libs")
		@Scripts.Render("~/bundles/js/areas/operator")
		@Scripts.Render("~/bundles/apps")
		@Scripts.Render("~/bundles/operatorApp")

		<script>
			@*App.Collections.cars.reset(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Cars))));
			App.Collections.carModels.reset(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CarModels))));
			App.Collections.carBrands.reset(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CarBrands))));

			App.start();*@
		</script>
		@RenderSection("scripts", required: false)
	</div>
</body>
</html>
