@model Taxi.WebApp.Models.LayoutViewModel
@using Microsoft.AspNet.Identity
@using Taxi.Entities.Helpers;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taxi</title>
	@Styles.Render("~/bundles/css/libs/")
	@Styles.Render("~/bundles/css/commons/")

</head>
<body class="main-container">

	<header>
		<div class="container">
			<div class="header-flex">
				<div class="header-title">
					<span>
						<a href="/">TAXI</a>
					</span>
				</div>
				<ul class="header-nav">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/order/">Quick order</a>
					</li>
					<li>
						<a href="/special/">Special order</a>
					</li>
					<li>
						<a href="/marrige/">For marrige</a>
					</li>
				</ul>
				<div class="header-auth">
					@if (User.Identity.IsAuthenticated)
					{
						<span>Hello, @User.Identity.GetUserName()</span>
						<a href="/auth/logout/">
							<span>Log out</span>
						</a>
					}
					else
					{
						<a href="/auth/login/">
							<span>Log in</span>
						</a>
					}
				</div>
			</div>
		</div>
	</header>

	<section>
		<div class="container body-content">
			@RenderBody()
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="footer-flex">
				<div>&copy; @DateTime.Now.Year - Taxi: free car for you 24/7</div>
				<div></div>
				<div>tel: +38 0xx xxx-xx-xx</div>
			</div>
		</div>
	</footer>


	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBACHpzRVDnnjGMK9_pvbwCXE5-TOQGlMc&signed_in=true&libraries=places"
			async defer></script>
	<div class="jScripts">
		@Scripts.Render("~/bundles/jquery/")

		@RenderSection("Scripts", required: false)
	</div>
</body>
</html>
